<h1><%= @cat.name %></h1>

<% @cat.foods.each do |food| %>
  <%= link_to "#{food.name}", foods_show_path(id: food.id) %>
  <br>
  <%= "$" + food.price %>
  <br>
  <%= food.description %>
  <br>
  <%= image_tag("#{food.image_url}", size: "100x100" ) %>
  <p>----------------------</p>
<% end %>
