<!DOCTYPE html>
<html>
  <head>
    <title>BearsBurgers</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-container">
       <figure>
         <%= image_tag('bearsburgerslogo.svg', class: 'header-img') %>
         <figcaption><strong>Better food. Better people.</strong></figcaption>
       </figure>
     </div>
     <nav>
       <%= link_to 'Home', root_url %>
       <%= link_to 'Menu', menu_url %>
       <%= link_to 'About', about_url %>
     </nav>
   </header>
     <main>
      <%= yield %>
    </main>
  </body>
</html>
